<%= form_for(pradeep) do |f| %>
  <% if pradeep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pradeep.errors.count, "error") %> prohibited this pradeep from being saved:</h2>

      <ul>
      <% pradeep.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
