<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pradeep.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pradeep.email %>
</p>

<%= link_to 'Edit', edit_pradeep_path(@pradeep) %> |
<%= link_to 'Back', pradeeps_path %>
